<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" placeholder="Enter Username" id="username" formControlName="userName">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd" formControlName="password">
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
