$heb-main-color: #1389fd;
$heb-main-color-alt: white;
$heb-main-color-offset: #e8eaed;
$heb-main-hover-color: rgba(10, 7, 8, 0.57);
$heb-text-color: #fff;
$heb-text-color-black: black;
$side-nav-width: 275px;
$side-nav-open-width: 275px;
$side-nav-closed-width: 50px;
$content-font-size: .7rem;
$header-font-size: .8rem;
$navbar-height: 45px;
$footer-height: 20px;
$main-content-min-height: 768px;
$enable-shadows: true;
$top-menu-height: 30px
