<nav id="navbar-container" class="navbar navbar-dark navbar-expand navbar-heb p-0"
     [ngClass]="{ shadow: routes }">

  <ng-container *ngIf="!routes; else navBarMenuContainer">

    <a class="navbar-brand pl-3" *ngIf="!showToggle">
      <!-- <img class="img-responsive" style="height:30px;"
                                                          data-tooltip="H-E-B"
                                                          data-tooltip-placement="right"
                                                          src="./assets/images/heb-logo.png"/> -->
      <span class="appName">{{ appName }}</span>
    </a>


    <a class="navbar-brand heb-logo-left" *ngIf="showToggle"><img class="img-responsive" style="height:30px;"
                                                                  data-tooltip="H-E-B"
                                                                  data-tooltip-placement="right"
                                                                  src="./assets/images/heb-logo.png"/>
      <span class="appName">{{ appName }}</span>
    </a>

    <!--<div class="navbar-collapse collapse dual-nav">
      <ul class="nav navbar-nav ml-auto">

        <ng-container *ngFor="let action of navBarActions">
          <ng-container [ngTemplateOutlet]="action.template"></ng-container>
        </ng-container>

        <ng-container
          [ngTemplateOutlet]="navBarUserAction ? navBarUserAction.template : defaultNavBarUserAction"></ng-container>

      </ul>
    </div>-->
  </ng-container>

  <ng-template #navBarMenuContainer>

    <a class="navbar-brand pl-3">
      <!-- <img class="img-responsive" style="height:30px;"
           data-tooltip="H-E-B"
           data-tooltip-placement="right"
           src="./assets/images/heb-logo.png"/> -->
      <span class="appName">{{ appName }}</span>
    </a>

    <ul class="nav pl-3 nav-bar-menu">
      <ng-container *ngFor="let route of routes">
        <!--        <ng-container *hasPermission="route | menuPermissions">-->
        <ng-container>
          <ng-container *ngIf="route.subMenu && route.subMenu.length > 0 else noSubMenu">
            <li class="nav-item dropdown d-flex align-items-center" ngbDropdown placement="bottom-left">
              <a class="nav-link dropdown-toggle px-3" [id]="route.text" ngbDropdownToggle>
                <i class="fa dropdown-icon px-2" [ngClass]="'fa-' + route.icon"></i>{{ route.text }}
              </a>
              <div ngbDropdownMenu>
                <ng-container *ngFor="let subMenuItem of route.subMenu">
                  <!--                  <ng-container *hasPermission="subMenuItem.access">-->
                  <ng-container>
                    <button class="dropdown-item" routerLink="{{ subMenuItem.url }}">{{ subMenuItem.text }}</button>
                  </ng-container>
                </ng-container>
              </div>
            </li>
          </ng-container>

          <ng-template #noSubMenu>
            <!--            <ng-container *hasPermission="route.access">-->
            <ng-container>
              <li class="nav-item d-flex align-items-center" routerLink="{{ route.url }}">
                <a class="nav-link px-3 align-self-center" [id]="route.text">
                  <i class="fa dropdown-icon px-2" [ngClass]="'fa-' + route.icon"></i>{{ route.text }}
                </a>
              </li>
            </ng-container>
          </ng-template>
        </ng-container>
      </ng-container>
    </ul>

    <!--<div class="navbar-collapse collapse dual-nav">
      <ul class="nav navbar-nav ml-auto">

        <ng-container *ngFor="let action of navBarActions">
          <ng-container [ngTemplateOutlet]="action.template"></ng-container>
        </ng-container>

        <ng-container
          [ngTemplateOutlet]="navBarUserAction ? navBarUserAction.template : defaultNavBarUserAction"></ng-container>

      </ul>
    </div>-->

  </ng-template>
</nav>


