<label>
  Name:
  <input type="text" [formControl]="name">
</label>
<p>
  Value: {{ name.value }}
</p>
<p>
  <button (click)="updateName()">Update Name</button>
</p>
<hr/>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  <button (click)="updateProfile()">Update Profile</button>
</form>