<h3>Interpolation </h3>
<p>{{title}}</p>
<p>The sum of 1 + 1 is {{1 + 1}}.</p>
<h3>Data-binding</h3>
<input [(ngModel)]="name" placeholder="type here" type="text">
<p>Hi, my name is {{name}}</p>
<h3>Style binding</h3>
<button [style.color]="isSpecial ? 'red': 'green'">Red</button>
<!--<h3>Inputs and Outputs</h3>-->
<!--<app-parent></app-parent>-->

<h3>Binding to user input events</h3>
<button (click)="onClickMe()">Click me!</button>
{{clickMessage}}

<h3>Get user input from the $event object</h3>
<input (keyup)="onKey1($event)">

<h3>Get user input from a template reference variable</h3>
<input #box (keyup)="onKey2(box.value)">
<p>{{values}}</p>

<h3>Key event filtering (with key.enter)</h3>
<input #box3 (keyup.enter)="onEnter(box3.value)">
<p>{{text}}</p>
