  <cus-modal [title]="title" showClose="true" (onHeaderClose)="activeModal.dismiss()">

    <modal-content>
      <div>{{content}}</div>
    </modal-content>

    <modal-action>
      <button heb-button type="button" size="md" class="no-background"
              (click)="activeModal.dismiss()">No
      </button>
    </modal-action>

    <modal-action>
      <button id="yesBtn" heb-button type="button" size="md"
              (click)="onRemoveSelected()" autofocus ="true">
        Yes
      </button>
    </modal-action>

  </cus-modal>
