<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="prof-form-cls">
  <div class="form-group ">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1"
           formControlName="firstName">
  </div>
  <div class="form-group ">
    <label for="exampleInputName">Last Name</label>
    <input type="text" class="form-control" id="exampleInputName"
           formControlName="lastName">
  </div>

  <div formGroupName="address">
    <h4>Address</h4>

    <div class="form-group ">
      <label for="street">Street</label>
      <input type="text" class="form-control" id="street"
             formControlName="street">
    </div>
    <div class="form-group ">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city"
             formControlName="city">
    </div>
  </div>

  <div formArrayName="aliases">
    <h4>Aliases <i class="fas fa-plus-circle" (click)="addAlias()"></i></h4>

    <div *ngFor="let alias of aliases.controls; let i=index" style="margin-top: 10px;">
      <input type="text" class="form-control sm-col-4"  [formControlName]="i">
    </div>
  </div>

  <p>
    Form Value: {{ profileForm.value | json }}
  </p>
  <p>
    Form Status: {{ profileForm.status }}
  </p>

  <div class="form-group">
    <button type="submit" class="btn btn-success" type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>

</form>
