<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
<a class="navbar-brand" href="#">DEMO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let route of routes">
        <ng-container *ngIf="route.subMenu && route.subMenu.length > 0 else noSubMenu">
          <li class="nav-item dropdown" >
            <a appExpandMenu class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               (click)="toggleNavbar()">
              {{route.text}}
              <div class="dropdown-menu" aria-labelledby="test" >
                <ng-container *ngFor="let subMenuItem of route.subMenu">
                  <a class="dropdown-item" href="{{subMenuItem.url}}">{{subMenuItem.text}}</a>
                </ng-container>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </a>
          </li>
        </ng-container>

        <ng-template #noSubMenu>
          <ng-container>
            <li class="nav-item dropdown" >
              <a appExpandMenu class="nav-link" href="{{route.url}}" role="button" aria-haspopup="true" aria-expanded="false">
                {{route.text}}
              </a>
            </li>
          </ng-container>
        </ng-template>

      </ng-container>

    </ul>

    <form class="form-inline my-2 my-lg-0">
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
